*{
    font-family: inter;
}

/*#5c0000, #2f0000, #000 ,#626262*/

body {
    background-image: linear-gradient(to bottom, #5c0000 15%, #2f0000 30%, #000 34%, #626262 100% );
    min-height: 200vh;
    width: 100%;
    overflow: auto;
    margin: 0;
}

#mainContainer{
    width:50%;
    display: flex;
    justify-content: center;
}

h1{
    text-align: center;
    font-size: 50px;
}

#svgContainer{
    position: relative;
}
#Moon{
    position: absolute;
    top: -100px;
    right: 100px;
}

#Mountain_1{
    position: absolute;
    left: 50px;
    top: 109px;
}
#Mountain_2{
    position: absolute;
    left: 400px;
    top: 200px;
}

#Black{
    position: absolute;
    background-image: linear-gradient(to bottom, #000 25%, #111 100%);
    width: 100%;
    height: 150px;
    top: 74.5%;


}

#btnStart{
    position: relative;
    display: inline-block;
    width: 100px;
    height: 50px;
    /*padding: 10px 10px;*/
    top: 120px;
    right: 10%;
    text-align: center;
    border: 4px solid #000;
    border-radius: 8px;
    background-color: #00000000;
    color: #990000;
    cursor: pointer;
    transition-duration: 0.4s;
}

#btnStart:hover{
    background-color: #000;
}

@media screen and (max-width: 650px) {
    body{
        overflow: auto;
    }


    #mainContainer{
        width: 95%;
        display: flex;

    }
    


}



li{
    list-style: none;
    text-align: center;
    width: 120px;
    padding-bottom: 10px ;
}
    
li{
    list-style: none;
    text-align: center;
    width: 120px;
    padding-bottom: 10px ;
}


h3{
    border-top:2px solid #000 ;
    width: 70%;
    text-align: center;
    padding-top: 10px ;
    margin-bottom: 5px;
}

p{
    margin: 15px;
    text-align: center;
}

a{
    color: #000;
}

a:hover{
    color: #0044ff;
}

iframe{
    width: 500px;
    height: 200px;
    
}

@media screen and (max-width: 650px){
    iframe{
        width: 150px;
        height: 150px;
    }
    
h3{
    border-top:2px solid #000 ;
    width: 70%;
    text-align: center;
    padding-top: 10px ;
    margin-bottom: 5px;
}

p{
    margin: 15px;
    text-align: center;
}

a{
    color: #000;
}

a:hover{
    color: #0044ff;
}

iframe{
    width: 500px;
    height: 200px;
    
}

@media screen and (max-width: 650px){
    iframe{
        width: 150px;
        height: 150px;
    }
}

}

