*{
    font-family: inter;
}

body {
    background-image: linear-gradient(to bottom, #5c0000 15%, #2f0000 30%, #000 40%, #626262 100% );
    min-height: 200vh;
    width: auto;
    overflow: auto;
}

#mainContainer{
    width:50%;
    display: flex;
    justify-content: center;
}

h1{
    text-align: center;
    font-size: 50px;
}

#svgContainer{
    position: relative;
}
.Moon{
    position: absolute;
    top: -100px;
    right: 100px;
}

.Mountain_1{
    position: absolute;
    left: 50px;
    top: 65px;
}
.Mountain_2{
    position: absolute;
    left: 400px;
    top: 200px;
}

#btnStart{
    position: absolute;
    top: 120px;
    left: 520px;
    border-radius: 2px;
    background-color: #45454594;
    color: #990000;
    cursor: pointer;
}

@media screen and (max-width: 650px) {
    body{
        overflow: auto;
    }


    #mainContainer{
        width: 95%;
        display: flex;

    }
    


}



li{
    list-style: none;
    text-align: center;
    width: 120px;
    padding-bottom: 10px ;
}
    
li{
    list-style: none;
    text-align: center;
    width: 120px;
    padding-bottom: 10px ;
}


h3{
    border-top:2px solid #000 ;
    width: 70%;
    text-align: center;
    padding-top: 10px ;
    margin-bottom: 5px;
}

p{
    margin: 15px;
    text-align: center;
}

a{
    color: #000;
}

a:hover{
    color: #0044ff;
}

iframe{
    width: 500px;
    height: 200px;
    
}

@media screen and (max-width: 650px){
    iframe{
        width: 150px;
        height: 150px;
    }
    
h3{
    border-top:2px solid #000 ;
    width: 70%;
    text-align: center;
    padding-top: 10px ;
    margin-bottom: 5px;
}

p{
    margin: 15px;
    text-align: center;
}

a{
    color: #000;
}

a:hover{
    color: #0044ff;
}

iframe{
    width: 500px;
    height: 200px;
    
}

@media screen and (max-width: 650px){
    iframe{
        width: 150px;
        height: 150px;
    }
}

}

